# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

# Allow build scripts for necessary packages
enable-pre-post-scripts=true

# Optimisations pour réduire la taille du cache Netlify
store-dir=.pnpm-store
modules-cache-max-age=604800

# Désactiver les lockfiles inutiles sur CI
frozen-lockfile=false