@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Buenard';
    src: url('/fonts/Buenard-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Satisfy';
    src: url('/fonts/Satisfy-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-slate-900;
  }

  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 ;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900  ;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-blue-900 hover:border-blue-900 hover:text-white ;
  }
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm ;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.title{
  line-height: 1.1;
  animation: titleFadeIn  0.5s ease-in-out forwards;
  transform: translateY(130%);
}

.subtitle{
  animation: titleFadeIn  0.5s ease-in-out forwards;
  animation-delay: 300ms;
  transform: translateY(100%);
}

.activites{
  opacity: 0;
  animation: activitesFadeIn  0.5s ease-in-out forwards;
  animation-delay: 700ms;
}

.background_wood{
  background: url(../images/images_stock/fond_ecorce.png) #ffffff;;
  background-size: cover;
  /* height: 70vh; */

}

@keyframes activitesFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes titleFadeIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}