---
import { getPermalink } from '~/utils/permalinks';
import Category from './Category.astro';

interface CategoryAccueil {
  title?: string;
  subtitle?: string;
  image?: string;
  tag?: string;
}

export interface Props {
  categories: CategoryAccueil[];
}
const { categories } = Astro.props;
---

<div class="swiper p-5">
  <div class="swiper-wrapper">
    {
      categories.map((cate: CategoryAccueil) => (
        <div class="swiper-slide">
          <Category
            title={cate.title}
            image={cate.image}
            link={
              cate.tag === 'escalier' ? getPermalink('/escaliers') :
              cate.tag === 'charpente' ? getPermalink('/charpente-renovation') :
              cate.tag === 'restauration' ? getPermalink('/charpente-renovation') :
              getPermalink(cate.tag, 'tag')
            }
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import { Swiper, Navigation, defaultSwiperOptions } from '~/utils/swiper-config';

  new Swiper('.swiper', {
    ...defaultSwiperOptions,
    slidesPerView: 1,
    spaceBetween: 20,
    modules: [Navigation],
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1280: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
