---
import { Image } from 'astro:assets';
import type { ImagePath } from '~/types';
import { findImage } from '~/utils/images';

export interface Props {
  images: ImagePath[];
}
const { images } = Astro.props;
---

<div class="swiper p-5">
  <div class="swiper-wrapper">
    {
      images.map(async (image: ImagePath) => {
        if (!image) return;
        const src = await findImage(image.src);
        if (!src) return;
        return (
          <div class="swiper-slide">
            <Image
              src={src}
              class="rounded-sm bg-gray-400 shadow-lg "
              widths={[400, 768]}
              sizes="(max-width: 767px) 400px, 768px"
              width={768}
              height={432}
              loading="eager"
              alt={image.alt || 'Image Hero'}
            />
          </div>
        );
      })
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from 'swiper';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper('.swiper', {
    slidesPerView: 1,
    spaceBetween: 10,
    modules: [Navigation, Pagination],
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      clickable: true,
    },
    rewind: true,
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
