---
import { Picture } from '@astrojs/image/components';
import { findImage } from '~/utils/images';

interface Image {
  image: string;
  description: string;
}

export interface Props {
  images: Image[];
}
const { images } = Astro.props;
---

<div class="swiper py-3">
  <div class="swiper-wrapper">
    {
      images.map(async (image: Image) => {
        if (!image) return;
        const src = await findImage(image.image);
        if (!src) return;
        return (
          <div class="swiper-slide">
            <Picture
              src={src}
              class="rounded-md bg-gray-400 shadow-lg "
              widths={[400, 768]}
              sizes="(max-width: 767px) 400px, 768px"
              aspectRatio="16:9"
              loading="eager"
              alt={image.description || 'Image Hero'}
            />
          </div>
        );
      })
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from 'swiper';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper('.swiper', {
    slidesPerView: 1,
    spaceBetween: 10,
    modules: [Navigation, Pagination],
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      clickable: true,
    },
    rewind: true,
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
