---
import type { Realisation } from '~/types';
import GridItem from '../realisations/GridItem.astro';

export interface Props {
  posts: Array<Realisation>;
}

const { posts } = Astro.props;
---

<div class="relative lg:px-16">
  <div class="swiper p-5">
    <div class="swiper-wrapper">
      {
        posts.map(async (post) => (
          <div class="swiper-slide">
            <GridItem post={post} />
          </div>
        ))
      }
    </div>
  </div>
  <div class="swiper-button-next !hidden lg:!flex lg:!right-0"></div>
  <div class="swiper-button-prev !hidden lg:!flex lg:!left-0"></div>
</div>

<script>
  import { Swiper, Navigation, defaultSwiperOptions } from '~/utils/swiper-config';

  new Swiper('.swiper', {
    ...defaultSwiperOptions,
    slidesPerView: 1,
    spaceBetween: 20,
    modules: [Navigation],
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1280: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
