---
import Reviews from '~/components/avis/Reviews';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
// import initialReviews from '~/initialReviews'; initialReviews

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main>
    <section class="centered mt-8 flex-col gap-32 py-16 pb-32 lg:flex-row">
      <div class="flex flex-col lg:gap-8">
        <div class="text-center">
          <h2 class="text-4xl font-bold capitalize text-gray-600">Votre satisfaction est notre moteur au quotidien</h2>
        </div>
      </div>
      <div>
        <Reviews initialReviews={} client:load />
      </div>
    </section>
  </main>
</Layout>
