---
import Reviews from '~/components/avis/Reviews';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import initialReviews from '~/initialReviews';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main>
    <section class="centered mt-8 flex-col gap-32 py-16 pb-32 lg:flex-row">
      <div class="flex flex-col lg:gap-8">
        <div class="text-center">
          <h2 class="text-4xl font-bold text-gray-600">Votre satisfaction est notre moteur au quotidien</h2>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="flex flex-wrap">
          <div class="w-full shrink-0 grow-0 basis-auto p-5 lg:w-5/12">
            <img class="rounded-lg object-cover" src="/images/do-more.jpg" alt="" />
          </div>

          <div class="w-full shrink-0 grow-0 basis-auto p-5 lg:w-7/12">
            <Reviews initialReviews={initialReviews} client:load />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
