---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import ContactForm from '~/components/contact/ContactForm';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main>
    <section class="centered mt-8 flex-col gap-32 py-16 pb-32 lg:flex-row">
      <div class="flex flex-col lg:gap-8">
        <div class="text-center">
          <h2 class="text-4xl font-bold capitalize text-gray-600">On rencontre en contact ?</h2>
        </div>

        <div class="relative mx-auto my-24 flex h-80 max-w-5xl rounded-xl bg-blue-100 shadow-lg">
          <div class="flex flex-wrap">
            <div class="m-10 w-full lg:w-2/5">
              <div class="m-6">
                <p class="mb-2 text-xl font-semibold text-neutral-800">Baptiste Clisson</p>
                <p class="mb-0 font-semibold text-neutral-500">Artisan Charpentier</p>
                <p class="mb-6 font-light text-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas,
                  voluptates omnis nulla ea odio quia similique corrupti magnam.
                </p>
              </div>
            </div>
            <div class="w-full p-10 lg:w-3/5 lg:p-0">
              <div
                class="relative rounded-xl shadow-lg lg:absolute lg:-top-24 lg:right-8 lg:w-96"
                data-aos="fade-left"
                data-aos-delay="300"
              >
                <ContactForm client:visible />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
