---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import Reviews from '~/components/review/Reviews.astro';
import Contact from '~/components/contact/Contact.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Gallery from '~/components/widgets/Gallery.astro';
import Presentation from '~/components/widgets/Presentation.astro';

import { getCollection } from 'astro:content';
import SwiperCategories from '~/components/widgets/SwiperCategories.astro';

const imagesAccueil = await getCollection('accueil_categories');
const categories = imagesAccueil.map((accueil_categories) => accueil_categories.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="leading-tight">
        <span class="text-primary">Bois Debout,</span>
        <span class="text-accent"> entreprise de charpentes traditionnelles</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle">
        L'expertise traditionnelle au service de vos projets de charpente, ossature et escalier, en neuf ou en
        restauration.
      </span>
    </Fragment>
    @
    <Fragment slot="activities">
      <div class="mt-10 mb-3">
        <SwiperCategories categories={categories} />
      </div>
    </Fragment>
  </Hero>

  <!-- Container for presentation-->
  <div id="presentation" class="decale-ancre container mx-auto px-6">
    <Presentation
      title="Baptiste Clisson, artisan charpentier"
      image={{
        src: '/images/Baptiste Clisson/Baptiste Clisson 600px.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
      imageSmall={{
        src: '/images/Baptiste Clisson/Baptiste Clisson Small.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
    />
  </div>

  <!-- HighlightedRealisations Widget ******* -->
  <div class="decale-ancre" id="realisations">
    <section class="background_wood" data-aos="fade-up">
      <LatestRealisations title="Mes dernieres réalisations" />
    </section>
  </div>

  <div class="decale-ancre" id="contact">
    <section>
      <Contact />
    </section>
  </div>

  <div class="decale-ancre" id="avis-clients">
    <section data-aos="fade-up">
      <Reviews />
    </section>
  </div>

  <!-- Container for demo purpose -->
  <Gallery />

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Foire Aux Questions"
    subtitle="Des questions sur mon métier de charpentier ?"
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  <div class="background_wood">
    <Content
      highlight="Inside template"
      title="And what's inside? ..."
      items={[
        {
          title: 'Per ei quaeque sensibus',
          description:
            'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
        },
        {
          title: 'Cu imperdiet posidonium sed',
          description:
            'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
          description:
            'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
        },
      ]}
      image={{
        src: '/images/images_stock/mesures-bois.webp',
        alt: 'personne prenant mesures bois',
      }}
    >
      <Fragment slot="content">
        <h3 class="mb-2 text-2xl font-bold sm:text-3xl">Ad vix debet docendi</h3>
        Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
        tacimates.
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->
    <Content
      isReversed
      isAfterContent
      items={[
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
      ]}
      image={{
        src: '/images/images_stock/artisan-aide-scie-circulaire.webp',
        alt: 'Artisan aide scie circulaire',
      }}
    />
  </div>

  <!-- Steps Widget ****************** -->
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '/images/images_stock/outils-menuiserie-bois.webp',
      alt: 'Outils menuiserie bois',
    }}
  />

  <!-- Features Widget *************** -->
  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:bulb',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:axe',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:mood-happy',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:seeding',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:trees',
        },
      ],
    ]}
  />
</Layout>
