---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import Review from '~/components/review/Review.astro';
import Contact from '~/components/contact/Contact.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { getCollection } from 'astro:content';
import SwiperCategories from '~/components/widgets/SwiperCategories.astro';

const imagesAccueil = await getCollection('accueil_categories');
const categories = imagesAccueil.map((accueil_categories) => accueil_categories.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="leading-tight">
        <span class="text-primary">Bois Debout,</span>
        <span class="text-accent"> entreprise de charpentes traditionnelles</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle">
        L'expertise traditionnelle au service de vos projets de charpente, ossature et escalier, en neuf ou en
        restauration.
      </span>
    </Fragment>
    @
    <Fragment slot="activities">
      <div class="mt-10 mb-3">
        <SwiperCategories categories={categories} />
      </div>
    </Fragment>
  </Hero>

  <!-- Container for demo purpose -->
  <div id="presentation" class="decale-ancre container mx-auto px-6">
    <!-- Section: Design Block -->
    <section class="mb-12 lg:my-12">
      <div class="flex flex-wrap">
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-1/3">
          <div class="flex">
            <img
              src="/images/Baptiste Clisson/Baptiste Clisson.webp"
              class="hidden w-full rounded-sm shadow-lg lg:ml-12 lg:block"
              alt="Baptiste Clisson - Charpentier"
              data-aos="fade-right"
            />
          </div>
        </div>

        <div class="w-full shrink-0 grow-0 basis-auto py-0 lg:w-2/3 lg:py-6">
          <div class="mur-rugeux rounded-sm shadow-lg lg:text-left">
            <div class="flex flex-wrap p-6 lg:p-12 lg:pl-24">
              <h2 class="mb-6 font-heading text-3xl font-bold text-secondary">Baptiste Clisson, artisan charpentier</h2>
              <p class="mb-6">
                Bienvenue sur le site internet de Bois Debout, mon entreprise de charpente traditionnelle située à
                Saulgé, dans la Vienne.
              </p>

              <div class="flex h-full w-full items-center justify-center">
                <img
                  src="/images/Baptiste Clisson/Baptiste Clisson Small.webp"
                  class="mb-6 block w-96 rounded-sm shadow-lg lg:hidden"
                  alt="Baptiste Clisson - Charpentier"
                />
              </div>

              <p>
                Je m'appelle Baptiste Clisson et je suis passionné par mon métier. Fort de mon expérience et de ma
                maîtrise des techniques traditionnelles, je réalise toutes sortes de projets de charpente, d'ossature et
                d'escalier sur mesure.
              </p>

              <div class="mx-auto my-6 flex flex-col md:flex-row md:justify-around xl:justify-start">
                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                    <path
                      fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    >
                    </path>
                  </svg>
                  Écoute
                </p>

                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                    <path
                      fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    >
                    </path>
                  </svg>
                  Méthodes traditionnelles
                </p>

                <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                    <path
                      fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    >
                    </path>
                  </svg>
                  Sur mesure
                </p>
              </div>

              <p class="mb-6 pb-2 lg:pb-0">
                J'accorde une grande importance à la préservation des méthodes traditionnelles tout en sélectionnant
                avec soin les matériaux pour garantir un travail de qualité.
              </p>

              <p>Je suis à votre écoute pour concevoir votre projet selon vos besoins.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>

  <!-- HighlightedRealisations Widget ******* -->
  <div class="decale-ancre" id="realisations">
    <section class="background_wood" data-aos="fade-up">
      <LatestRealisations title="Mes dernieres réalisations" />
    </section>
  </div>

  <div class="decale-ancre" id="contact">
    <section>
      <Contact />
    </section>
  </div>

  <div class="decale-ancre" id="avis-clients">
    <section data-aos="fade-up">
      <Review />
    </section>
  </div>

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  <div class="background_wood">
    <Content
      highlight="Inside template"
      title="And what's inside? ..."
      items={[
        {
          title: 'Per ei quaeque sensibus',
          description:
            'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
        },
        {
          title: 'Cu imperdiet posidonium sed',
          description:
            'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
          description:
            'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
        },
      ]}
      image={{
        src: import('/public/images/images_stock/personne-prenant-mesures-bois.webp'),
        alt: 'personne prenant mesures bois',
      }}
    >
      <Fragment slot="content">
        <h3 class="mb-2 text-2xl font-bold tracking-tight sm:text-3xl">Ad vix debet docendi</h3>
        Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
        tacimates.
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->
    <Content
      isReversed
      isAfterContent
      items={[
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
      ]}
      image={{
        src: import('/public/images/images_stock/artisan-aide-scie-circulaire.png'),
        alt: 'Artisan aide scie circulaire',
      }}
    />
  </div>

  <!-- Steps Widget ****************** -->
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('/public/images/images_stock/outils-menuiserie-bois.webp'),
      alt: 'Outils menuiserie bois',
    }}
  />

  <!-- Container for demo purpose -->

  <section class="mt-2">
    <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
      <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/outils-menuiserie-bois.webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/amenagement-equipements-pour-travaux-artisanaux.webp"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/artisan-creant-piece-bois.png"
            />
          </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/lame-scie-circulaire.png"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/pile-planches-bois-dans-cour-bois-scierie.webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="/public/images/images_stock/panneaux-mdf-interieur-entrepot.webp"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Widget *************** -->
  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />
</Layout>
