---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Swiper from '~/components/widgets/Swiper.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { getCollection } from 'astro:content';

const imagesAccueil = await getCollection('image_accueil');
const images = imagesAccueil.map((image_accueil) => image_accueil.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Bois Debout,
      <span class="highlight text-accent"> entreprise de charpentes traditionnelles</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle">
        L'expertise traditionnelle au service de vos projets de charpente, ossature et escalier, en neuf ou en
        restauration.
      </span>
    </Fragment>

    <Fragment slot="activities">
      <div class="row-gap-5 my-4 grid gap-6 md:grid-cols-1 lg:grid-cols-3">
        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="block max-w-sm rounded-sm bg-white shadow-lg">
                <img
                  class="h-72 w-96 rounded-t-sm object-cover"
                  src="/images/realisations/Charpente Manoir Bel Noe/1.png"
                  alt="Charpentes traditionnelles"
                />
                <div class="w-full p-4">
                  <h3 class="mb-2 font-bold">Charpentes traditionnelles</h3>
                  <p class="text-sm">
                    La charpente bois dite traditionnelle est composée de plusieurs pièces maîtresses assemblées entre
                    elles. Apparents ou cachés, planchers, murs-ossature et charpente constituent les éléments
                    essentiels d'un bâtiment. Conception, taille et mise en œuvre sont réalisées avec rigueur pour
                    garantir la pérennité de l'ouvrage.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </article>

        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="block max-w-sm rounded-sm bg-white shadow-lg">
                <img
                  class="h-72 w-96 rounded-t-sm object-cover"
                  src="/images/realisations/Escalier 1/5.webp"
                  alt="Escalier massif sur mesure"
                />
                <div class="w-full p-4">
                  <h3 class="mb-2 font-bold">Escaliers massifs sur mesure</h3>
                  <p class="text-sm">
                    Un escalier répond à des contraintes techniques spécifiques. Adapté à chaque bâtiment, cet ouvrage
                    unique associe esthétique et confort d'usage.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </article>

        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="block max-w-sm rounded-sm bg-white shadow-lg">
                <img
                  class="h-72 w-96 rounded-t-sm object-cover"
                  src="/images/realisations/Debord de toit avec sa ferme d’apparat - Vergnault/4.webp"
                  alt="RéRestauration et réhabilitationnovation"
                />
                <div class="w-full p-4">
                  <h3 class="mb-2 font-bold">Restauration et réhabilitation du bâti ancien</h3>
                  <p class="text-sm">
                    L'intervention sur du bâti ancien dépend de la nature de votre projet. Chaque bâtiment est unique et
                    doté d'un récit propre. Pour intervenir sur tout ou partie de l'ouvrage, il conviendra de se
                    questionner ensemble sur son usage. L'utilisation de bois de réemploi vous assure de donner du
                    cachet et de préserver le caractère authentique de votre bâtiment.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </article>
      </div>
    </Fragment>
  </Hero>

  <div>
    <!-- Container for demo purpose -->
    <div class="container my-6 mx-auto px-6">
      <!-- Section: Design Block -->
      <section class="mb-2">
        <div class="flex flex-wrap">
          <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
            <div class="flex lg:py-12">
              <img
                src="/images/Baptiste Clisson/Baptiste Clisson.webp"
                class="w-full rounded-sm shadow-lg lg:ml-12"
                id="cta-img-nml-50"
                style="z-index: 10"
                alt=""
                data-aos="fade-right"
                data-aos-offset="300"
                data-aos-delay="200"
              />
            </div>
          </div>

          <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
            <div class="flex h-full items-center rounded-sm bg-beige p-6 text-center shadow-lg lg:pl-12 lg:text-left">
              <div class="lg:pl-12">
                <h2 class="mb-6 text-3xl font-bold">Baptiste Clisson, artisan charpentier</h2>
                <p class="mb-6 pb-2 lg:pb-0">
                  Bienvenue sur le site internet de Bois Debout, mon entreprise de charpente traditionnelle située à
                  Saulgé, dans la Vienne.
                </p>
                <p>
                  Je m'appelle Baptiste Clisson et je suis passionné par mon métier. Fort de mon expérience et de ma
                  maîtrise des techniques traditionnelles, je réalise toutes sortes de projets de charpente, d'ossature
                  et d'escalier sur mesure.
                </p>

                <div class="mx-auto my-6 flex flex-col md:flex-row md:justify-around xl:justify-start">
                  <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Écoute
                  </p>

                  <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Méthodes traditionnelles
                  </p>

                  <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Sur mesure
                  </p>
                </div>

                <p class="mb-6 pb-2 lg:pb-0">
                  J'accorde une grande importance à la préservation des méthodes traditionnelles tout en sélectionnant
                  avec soin les matériaux pour garantir un travail de qualité.
                </p>

                <p>Je suis à votre écoute pour concevoir votre projet selon vos besoins</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
  </div>

  <!-- HighlightedRealisations Widget ******* -->
  <section class="background_wood">
    <LatestRealisations title="Mes dernieres réalisations" />
  </section>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Steps Widget ****************** -->
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('/public/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <div>
    <div class="container my-24 mx-auto px-6">
      <div class="row-gap-5 my-8 grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        <article class="mb-6 transition">
          <div class="flex justify-center">
            <div class="block max-w-sm rounded-sm bg-white shadow-lg">
              <a href="#!">
                <img class="rounded-t-sm" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" />
              </a>
              <div class="p-6">
                <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                  Restauration et réhabilitation du bâti ancien
                </h5>
                <p class="mb-4 text-base text-neutral-600">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
                <button
                  type="button"
                  class="hover:bg-primary-600 focus:bg-primary-600 active:bg-primary-700 inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                >
                  Button
                </button>
              </div>
            </div>
          </div>
        </article>
        <article class="mb-6 transition">
          <div class="flex justify-center">
            <div class="block max-w-sm rounded-sm bg-white shadow-lg">
              <a href="#!">
                <img class="rounded-t-sm" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" />
              </a>
              <div class="p-6">
                <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                  Restauration et réhabilitation du bâti ancien
                </h5>
                <p class="mb-4 text-base text-neutral-600">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
                <button
                  type="button"
                  class="hover:bg-primary-600 focus:bg-primary-600 active:bg-primary-700 inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                >
                  Button
                </button>
              </div>
            </div>
          </div>
        </article>
        <article class="mb-6 transition">
          <div class="flex justify-center">
            <div class="block max-w-sm rounded-sm bg-white shadow-lg">
              <a href="#!">
                <img class="rounded-t-sm" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" />
              </a>
              <div class="p-6">
                <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                  Restauration et réhabilitation du bâti ancien
                </h5>
                <p class="mb-4 text-base text-neutral-600">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
                <button
                  type="button"
                  class="hover:bg-primary-600 focus:bg-primary-600 active:bg-primary-700 inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                >
                  Button
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- Swiper Widget **************** -->
  <div class="mt-60">
    {
      images && (
        <div class="container my-24 mx-auto px-6">
          <Swiper images={images} />
        </div>
      )
    }
  </div>

  <!-- Container for demo purpose -->

  <section class="mt-60 text-neutral-700">
    <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
      <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            />
          </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-sm object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Widget *************** -->
  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('/public/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight sm:text-3xl">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('/public/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />
</Layout>
