---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import Reviews from '~/components/review/Reviews.astro';
import Contact from '~/components/contact/Contact.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Gallery from '~/components/widgets/Gallery.astro';
import Presentation from '~/components/widgets/Presentation.astro';

import { getCollection } from 'astro:content';
import SwiperCategories from '~/components/widgets/SwiperCategories.astro';

const imagesAccueil = await getCollection('accueil_categories');
const categories = imagesAccueil.map((accueil_categories) => accueil_categories.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="leading-tight">
        <span class="text-primary">Bois Debout,</span>
        <span class="text-accent"> entreprise de charpentes traditionnelles</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle">
        L'expertise traditionnelle au service de vos projets de charpente, ossature et escalier, en neuf ou en
        restauration.
      </span>
    </Fragment>
    @
    <Fragment slot="activities">
      <div class="mt-10 mb-3">
        <SwiperCategories categories={categories} />
      </div>
    </Fragment>
  </Hero>

  <!-- Container for presentation-->
  <div id="presentation" class="decale-ancre container mx-auto px-6">
    <Presentation
      title="Baptiste Clisson, artisan charpentier"
      image={{
        src: '/images/Baptiste Clisson/Baptiste Clisson 600px.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
      imageSmall={{
        src: '/images/Baptiste Clisson/Baptiste Clisson Small.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
    />
  </div>

  <!-- HighlightedRealisations Widget ******* -->
  <div class="decale-ancre" id="realisations">
    <section class="background_wood" data-aos="fade-up">
      <LatestRealisations title="Mes dernières réalisations" />
    </section>
  </div>

  <div class="decale-ancre" id="contact">
    <section>
      <Contact />
    </section>
  </div>

  <div class="decale-ancre" id="avis-clients">
    <section data-aos="fade-up">
      <Reviews />
    </section>
  </div>

  <!-- Container for demo purpose -->
  <Gallery />
</Layout>
