---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Swiper from '~/components/widgets/Swiper.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { getCollection } from 'astro:content';
import { getPermalink, getRealisationsPermalink } from '~/utils/permalinks';

const imagesAccueil = await getCollection('imageAccueil');
const images = imagesAccueil.map((imageAccueil) => imageAccueil.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: 'Mes réalisations',
      href: getRealisationsPermalink(),
      // icon: 'tabler:carpenter',
    }}
    callToAction2={{ text: 'Me contacter', href: getPermalink('/contact') }}
  >
    <Fragment slot="title">
      Baptiste Clisson,
      <span class="highlight text-accent"> artisan charpentier</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</span>
    </Fragment>

    <Fragment slot="activities">
      <div class="row-gap-5 my-8 grid gap-6 md:grid-cols-2 lg:grid-cols-4">
        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="relative block max-w-sm">
                <img class="h-56 w-96 rounded-lg object-cover" src="/images/do-more.jpg" alt="" />
                <div class="absolute bottom-0 left-0 h-16 w-full rounded-lg bg-gradient-to-t from-black to-transparent">
                </div>
                <h3 class="absolute bottom-2 w-full text-center font-bold text-white">Charpentes traditionnelles</h3>
              </div>
            </a>
          </div>
        </article>

        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="relative block max-w-sm">
                <img
                  class="h-56 w-96 rounded-lg object-cover"
                  src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg"
                  alt=""
                />
                <div class="absolute bottom-0 left-0 h-16 w-full rounded-lg bg-gradient-to-t from-black to-transparent">
                </div>
                <h3 class="absolute bottom-2 w-full text-center font-bold text-white">Ossatures et planchers bois</h3>
              </div>
            </a>
          </div>
        </article>

        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="relative block max-w-sm">
                <img class="h-56 w-96 rounded-lg object-cover" src="/images/tools.jpg" alt="" />
                <div class="absolute bottom-0 left-0 h-16 w-full rounded-lg bg-gradient-to-t from-black to-transparent">
                </div>
                <h3 class="absolute bottom-2 w-full text-center font-bold text-white">Escaliers massifs sur mesure</h3>
              </div>
            </a>
          </div>
        </article>

        <article class="mb-6 transition">
          <div class="flex justify-center">
            <a href="#" class="transition hover:scale-105">
              <div class="relative block max-w-sm">
                <img class="h-56 w-96 rounded-lg object-cover" src="/images/vintage.jpg" alt="" />
                <div class="absolute bottom-0 left-0 h-16 w-full rounded-lg bg-gradient-to-t from-black to-transparent">
                </div>
                <h3 class="absolute bottom-2 w-full text-center font-bold text-white">Rénovation du bâti ancien</h3>
              </div>
            </a>
          </div>
        </article>
      </div>
    </Fragment>
  </Hero>

  <div class="relative mx-auto max-w-7xl px-4 sm:px-6">
    <div class="row-gap-5 my-8 grid gap-6 md:grid-cols-2 lg:grid-cols-4">
      <article class="mb-6 transition">
        <div class="flex justify-center">
          <a href="#" class="transition hover:scale-105">
            <div class="block max-w-sm rounded-lg bg-white shadow-lg">
              <img class="h-64 w-80 rounded-t-lg object-cover" src="/images/do-more.jpg" alt="" />
              <div class="w-full p-4">
                <h3 class="mb-2 font-bold">Charpentes traditionnelles</h3>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </article>

      <article class="mb-6 transition">
        <div class="flex justify-center">
          <a href="#" class="transition hover:scale-105">
            <div class="block max-w-sm rounded-lg bg-white shadow-lg">
              <img
                class="h-64 w-80 rounded-t-lg object-cover"
                src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg"
                alt=""
              />
              <div class="w-full p-4">
                <h3 class="mb-2 font-bold">Ossatures et planchers bois</h3>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </article>

      <article class="mb-6 transition">
        <div class="flex justify-center">
          <a href="#" class="transition hover:scale-105">
            <div class="block max-w-sm rounded-lg bg-white shadow-lg">
              <img class="h-64 w-80 rounded-t-lg object-cover" src="/images/tools.jpg" alt="" />
              <div class="w-full p-4">
                <h3 class="mb-2 font-bold">Escaliers massifs sur mesure</h3>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </article>

      <article class="mb-6 transition">
        <div class="flex justify-center">
          <a href="#" class="transition hover:scale-105">
            <div class="block max-w-sm rounded-lg bg-white shadow-lg">
              <img class="h-64 w-80 rounded-t-lg object-cover" src="/images/vintage.jpg" alt="" />
              <div class="w-full p-4">
                <h3 class="mb-2 font-bold">Rénovation du bâti ancien</h3>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </article>
    </div>
  </div>

  <div class="relative mx-auto my-24 flex h-80 max-w-5xl rounded-xl bg-blue-100 shadow-lg">
    <div class="flex flex-wrap">
      <div class="m-10 w-full lg:w-3/5">
        <div class="m-6">
          <p class="mb-2 text-xl font-semibold text-neutral-800">Baptiste Clisson</p>
          <p class="mb-0 font-semibold text-neutral-500">Artisan Charpentier</p>
          <p class="mb-6 font-light text-neutral-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas,
            voluptates omnis nulla ea odio quia similique corrupti magnam.
          </p>
        </div>
      </div>
      <div class="w-full p-10 lg:w-2/5 lg:p-0">
        <img
          class="rounded-xl shadow-lg lg:absolute lg:-top-16 lg:right-8 lg:w-80"
          src="/images/caos.jpg"
          data-aos="fade-left"
          data-aos-offset="400"
          data-aos-delay="300"
        />
      </div>
    </div>
  </div>

  <!-- Container for demo purpose -->

  <div>
    <div class="container my-24 mx-auto px-6">
      <div class="flex justify-center">
        <div class="block max-w-sm rounded-lg bg-white shadow-lg">
          <a href="#!">
            <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" />
          </a>
          <div class="p-6">
            <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">Card title</h5>
            <p class="mb-4 text-base text-neutral-600">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button
              type="button"
              class="hover:bg-primary-600 focus:bg-primary-600 active:bg-primary-700 inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              Button
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <!-- Container for demo purpose -->
    <div class="container my-24 mx-auto px-6">
      <!-- Section: Design Block -->
      <section class="mb-32">
        <div class="flex flex-wrap">
          <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
            <div class="flex lg:py-12">
              <img
                src="/images/vintage.jpg"
                class="w-full rounded-lg shadow-lg lg:ml-12"
                id="cta-img-nml-50"
                style="z-index: 10"
                alt=""
                data-aos="fade-right"
                data-aos-offset="400"
                data-aos-delay="300"
              />
            </div>
          </div>

          <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
            <div class="flex h-full items-center rounded-lg bg-blue-50 p-6 text-center shadow-lg lg:pl-12 lg:text-left">
              <div class="lg:pl-12">
                <h2 class="mb-6 text-3xl font-bold">Baptiste Clisson, artisan charpentier</h2>
                <p class="mb-6 pb-2 lg:pb-0">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, sint, repellat vel quo quisquam
                  accusamus in qui at ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum distinctio eum
                  neque!
                </p>

                <div class="mx-auto mb-6 flex flex-col md:flex-row md:justify-around xl:justify-start">
                  <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Lorem ipsum
                  </p>

                  <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Lorem ipsum
                  </p>

                  <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-2 h-4 w-4">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Lorem ipsum
                  </p>
                </div>

                <p>
                  Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet rutrum enim massa in
                  ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis eget nisi vitae,
                  sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat vel justo. Duis
                  faucibus sapien eget tortor finibus, a eleifend lectus dictum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
  </div>

  <div>
    <div class="container my-24 mx-auto px-6">
      <section class="body-font text-gray-600">
        <div class="container mx-auto flex flex-col px-5 py-24">
          <div class="mx-auto lg:w-4/6">
            <div class="h-64 overflow-hidden rounded-lg">
              <img
                alt="content"
                class="h-full w-full object-cover object-center"
                src="https://dummyimage.com/1200x500"
              />
            </div>
            <div class="mt-10 flex flex-col sm:flex-row">
              <div class="text-center sm:w-1/3 sm:py-8 sm:pr-8">
                <div class="inline-flex h-20 w-20 items-center justify-center rounded-full bg-gray-200 text-gray-400">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="h-10 w-10"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center justify-center text-center">
                  <h2 class="title-font mt-4 text-lg font-medium text-gray-900">Phoebe Caulfield</h2>
                  <div class="mt-2 mb-4 h-1 w-12 rounded bg-indigo-500"></div>
                  <p class="text-base">
                    Raclette knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot chicken
                    gentrify portland.
                  </p>
                </div>
              </div>
              <div
                class="mt-4 border-t border-gray-200 pt-4 text-center sm:mt-0 sm:w-2/3 sm:border-l sm:border-t-0 sm:py-8 sm:pl-8 sm:text-left"
              >
                <p class="mb-4 text-lg leading-relaxed">
                  Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi umami everyday carry hexagon
                  locavore direct trade art party. Locavore small batch listicle gastropub farm-to-table lumbersexual
                  salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar sartorial, disrupt
                  fashion axe normcore meh butcher. Portland 90's scenester vexillologist forage post-ironic
                  asymmetrical, chartreuse disrupt butcher paleo intelligentsia pabst before they sold out four loko. 3
                  wolf moon brooklyn.
                </p>
                <a class="inline-flex items-center text-indigo-500"
                  >Learn More
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="ml-2 h-4 w-4"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Swiper Widget **************** -->
  {
    images && (
      <div class="container my-24 mx-auto px-6">
        <Swiper images={images} />
      </div>
    )
  }

  <div class="container my-24 mx-auto px-6">
    <section class="body-font text-gray-600">
      <div class="container mx-auto flex flex-wrap px-5 py-24">
        <div class="relative mx-auto flex pt-10 pb-20 sm:items-center md:w-2/3">
          <div class="absolute inset-0 flex h-full w-6 items-center justify-center">
            <div class="pointer-events-none h-full w-1 bg-gray-200"></div>
          </div>
          <div
            class="title-font relative z-10 mt-10 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500 text-sm font-medium text-white sm:mt-0"
          >
            1
          </div>
          <div class="flex flex-grow flex-col items-start pl-6 sm:flex-row sm:items-center md:pl-8">
            <div
              class="inline-flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="h-12 w-12"
                viewBox="0 0 24 24"
              >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>
            </div>
            <div class="mt-6 flex-grow sm:mt-0 sm:pl-6">
              <h2 class="title-font mb-1 text-xl font-medium text-gray-900">Shooting Stars</h2>
              <p class="leading-relaxed">
                VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.
              </p>
            </div>
          </div>
        </div>
        <div class="relative mx-auto flex pb-20 sm:items-center md:w-2/3">
          <div class="absolute inset-0 flex h-full w-6 items-center justify-center">
            <div class="pointer-events-none h-full w-1 bg-gray-200"></div>
          </div>
          <div
            class="title-font relative z-10 mt-10 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500 text-sm font-medium text-white sm:mt-0"
          >
            2
          </div>
          <div class="flex flex-grow flex-col items-start pl-6 sm:flex-row sm:items-center md:pl-8">
            <div
              class="inline-flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="h-12 w-12"
                viewBox="0 0 24 24"
              >
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <div class="mt-6 flex-grow sm:mt-0 sm:pl-6">
              <h2 class="title-font mb-1 text-xl font-medium text-gray-900">The Catalyzer</h2>
              <p class="leading-relaxed">
                VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.
              </p>
            </div>
          </div>
        </div>
        <div class="relative mx-auto flex pb-20 sm:items-center md:w-2/3">
          <div class="absolute inset-0 flex h-full w-6 items-center justify-center">
            <div class="pointer-events-none h-full w-1 bg-gray-200"></div>
          </div>
          <div
            class="title-font relative z-10 mt-10 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500 text-sm font-medium text-white sm:mt-0"
          >
            3
          </div>
          <div class="flex flex-grow flex-col items-start pl-6 sm:flex-row sm:items-center md:pl-8">
            <div
              class="inline-flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="h-12 w-12"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="5" r="3"></circle>
                <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
              </svg>
            </div>
            <div class="mt-6 flex-grow sm:mt-0 sm:pl-6">
              <h2 class="title-font mb-1 text-xl font-medium text-gray-900">The 400 Blows</h2>
              <p class="leading-relaxed">
                VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.
              </p>
            </div>
          </div>
        </div>
        <div class="relative mx-auto flex pb-10 sm:items-center md:w-2/3">
          <div class="absolute inset-0 flex h-full w-6 items-center justify-center">
            <div class="pointer-events-none h-full w-1 bg-gray-200"></div>
          </div>
          <div
            class="title-font relative z-10 mt-10 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500 text-sm font-medium text-white sm:mt-0"
          >
            4
          </div>
          <div class="flex flex-grow flex-col items-start pl-6 sm:flex-row sm:items-center md:pl-8">
            <div
              class="inline-flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="h-12 w-12"
                viewBox="0 0 24 24"
              >
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="mt-6 flex-grow sm:mt-0 sm:pl-6">
              <h2 class="title-font mb-1 text-xl font-medium text-gray-900">Neptune</h2>
              <p class="leading-relaxed">
                VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="overflow-hidden text-neutral-700">
    <div class="container mx-auto px-5 py-2 lg:px-12 lg:pt-12">
      <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            />
          </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block h-full w-full rounded-lg object-cover object-center"
              src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container my-24 mx-auto px-6">
    <section
      class="rounded-md p-6 text-center shadow-lg md:p-12 md:text-left"
      style="background-image: url(https://tecdn.b-cdn.net/img/Photos/Others/background2.jpg)"
    >
      <div class="flex justify-center">
        <div class="max-w-3xl">
          <div class="m-4 block rounded-lg bg-white p-6 shadow-lg">
            <div class="md:flex md:flex-row">
              <div class="mx-auto mb-6 flex w-36 items-center justify-center md:mx-0 md:w-96 lg:mb-0">
                <img
                  src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.jpg"
                  class="rounded-full shadow-md"
                  alt="woman avatar"
                />
              </div>
              <div class="md:ml-6">
                <p class="mb-2 text-xl font-semibold text-neutral-800">Baptiste Clisson</p>
                <p class="mb-0 font-semibold text-neutral-500">Artisan Charpentier</p>
                <p class="mb-6 font-light text-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas,
                  voluptates omnis nulla ea odio quia similique corrupti magnam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Container for demo purpose -->

  <!-- Features Widget *************** -->
  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('/public/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight sm:text-3xl">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('/public/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('/public/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <!-- HighlightedRealisations Widget ******* -->

  <LatestRealisations title="Mes dernieres réalisations" information={`Lorem ipsum`} />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <div data-aos="fade-up">
    <Stats
      items={[
        { name: 'Downloads', value: '132K' },
        { name: 'Stars', value: '24.8K' },
        { name: 'Forks', value: '10.3K' },
        { name: 'Users', value: '48.4K' },
      ]}
    />
  </div>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Mes réalisations',
      href: getRealisationsPermalink(),
      // icon: 'tabler:carpenter',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
