---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestRealisations from '~/components/realisations/LatestRealisations.astro';
import Reviews from '~/components/review/Reviews.astro';
import Contact from '~/components/contact/Contact.astro';
import Gallery from '~/components/widgets/Gallery.astro';
import Presentation from '~/components/widgets/Presentation.astro';

import { getCollection } from 'astro:content';
import SwiperCategories from '~/components/widgets/SwiperCategories.astro';

const imagesAccueil = await getCollection('accueil_categories');
const categories = imagesAccueil.map((accueil_categories) => accueil_categories.data);

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Demander un devis', href: '#contact', icon: 'tabler:mail' }}
    callToAction2={{ text: 'Voir mes réalisations', href: '#realisations' }}
  >
    <Fragment slot="title">
      <span class="leading-tight">
        <span class="text-primary">Bois Debout,</span>
        <span class="text-accent"> entreprise de charpentes traditionnelles</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="subtitle">
        Expertise artisanale en charpente traditionnelle, ossature bois et escaliers sur-mesure.
        <br />
        Intervention en neuf et rénovation dans la Vienne (86).
      </span>
    </Fragment>

    <Fragment slot="activities">
      <div class="mb-3 mt-10">
        <SwiperCategories categories={categories} />
      </div>
    </Fragment>
  </Hero>

  <!-- Container for presentation-->
  <div id="presentation" class="decale-ancre container mx-auto px-6">
    <Presentation
      title="Baptiste Clisson, artisan charpentier"
      image={{
        src: '/images/baptiste-clisson/Baptiste Clisson 600px.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
      imageSmall={{
        src: '/images/baptiste-clisson/Baptiste Clisson Small.webp',
        alt: 'Baptiste Clisson - Charpentier Traditionnel',
      }}
    />
  </div>

  <!-- HighlightedRealisations Widget ******* -->
  <div class="decale-ancre" id="realisations">
    <section class="bg-wood" data-aos="fade-up">
      <LatestRealisations title="Mes dernières réalisations" />
    </section>
  </div>

  <div class="decale-ancre" id="contact">
    <section>
      <Contact />
    </section>
  </div>

  <div class="decale-ancre" id="avis-clients">
    <section data-aos="fade-up">
      <Reviews />
    </section>
  </div>

  <!-- Container for demo purpose -->
  <!-- <Gallery /> -->
</Layout>
