---
import Item from '~/components/realisations/GridItem.astro';
import type { Realisation } from '~/types';

export interface Props {
  posts: Array<Realisation>;
}

const { posts } = Astro.props;
---

<div class="row-gap-5 -mb-6 grid gap-6 md:grid-cols-1 lg:grid-cols-3">
  {posts.map((post) => <Item post={post} />)}
</div>
