---
import Item from '~/components/realisations/ListItem.astro';
import type { Realisation } from '~/types';

export interface Props {
  posts: Array<Realisation>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <>
        <li class="my-6 md:my-10">
          <Item post={post} />
        </li>
        <hr class="border-accent border-t" />
      </>
    ))
  }
</ul>
