---
import { getPermalink } from '~/utils/permalinks';

import { REALISATIONS } from '~/config.mjs';
import type { Realisation } from '~/types';

export interface Props {
  tags: Realisation['tags'];
  class?: string;
}

const { tags, class: className = 'text-base' } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="text-primary hover:bg-accent mr-2 mb-2 inline-block rounded-sm  bg-gray-100 font-medium lowercase hover:text-gray-100">
          {REALISATIONS?.tag?.disabled ? (
            tag
          ) : (
            <a class="py-0.5 px-2" href={getPermalink(tag, 'tag')} title={tag}>
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
