---
import { getPermalink } from '~/utils/permalinks';

import { REALISATIONS } from '~/config.mjs';
import type { Realisation } from '~/types';

export interface Props {
  tags: Realisation['tags'];
  class?: string;
}

const { tags, class: className = 'text-base' } = Astro.props;
const containerClass = ['flex w-full flex-wrap justify-start gap-2 text-left', className].filter(Boolean).join(' ');
---

{
  tags && Array.isArray(tags) && (
    <div class={containerClass}>
      {tags.map(
        (tag) =>
          tag && (
            <div class="inline-flex rounded-sm bg-gray-100! font-medium lowercase text-primary! transition-all duration-200 hover:scale-105 hover:bg-accent! hover:text-gray-100!">
              {REALISATIONS?.tag?.disabled ? (
                tag
              ) : (
                <a class="block px-2 text-sm capitalize text-inherit!" href={getPermalink(tag, 'tag')} title={tag}>
                  {tag}
                </a>
              )}
            </div>
          )
      )}
    </div>
  )
}
