---
import { getPermalink } from '~/utils/permalinks';

import { REALISATIONS } from '~/config.mjs';
import type { Realisation } from '~/types';

export interface Props {
  tags: Realisation['tags'];
  class?: string;
}

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="mr-2  mb-2 inline-block bg-gray-100 py-0.5 px-2 font-medium lowercase">
          {REALISATIONS?.tag?.disabled ? (
            tag
          ) : (
            <a href={getPermalink(tag, 'tag')} class="text-muted  hover:text-primary ">
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
